In [1]:
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
#import time
from selenium import webdriver
import pandas as pd
#from selenium.webdriver.common.keys import Keys

In [2]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [3]:
response = requests.get(url)

In [4]:
soup = bs(response.text, 'html.parser')

In [55]:
#executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
#browser = Browser('chrome', **executable_path, headless=False)

In [6]:
#browser.visit(url)

# News_title and Paragraph

In [5]:
title = soup.find('div', class_='content_title').get_text(strip=True)
title

"Alabama High School Student Names NASA's Mars Helicopter"

In [6]:
paragraph = soup.find('div', class_='rollover_description_inner').get_text(strip=True)
paragraph

"Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet."

# Scraping the Image

In [7]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'

In [8]:
driver = webdriver.Chrome()

In [9]:
driver.get(url)

In [10]:
html = driver.page_source

In [11]:
r = requests.get(url)

In [12]:
soup = bs(r.text, 'html.parser')

In [13]:
fancybox = soup.select('li.slide a.fancybox')

In [14]:
links =[]

In [15]:
for i in fancybox:
        links.append(i.get('data-fancybox-href'))

In [16]:
main_url = "https://www.jpl.nasa.gov"

In [17]:
mars_img_url = main_url + links[14]

In [65]:
mars_img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA23855_hires.jpg'

In [18]:
driver.close()

# Scraping last weather tweet

In [19]:
driver = webdriver.Chrome()

In [20]:
url = 'https://twitter.com/MarsWxReport'

In [21]:
driver.get(url)

In [22]:
html = driver.page_source

In [23]:
r = requests.get(url)

In [24]:
soup = bs(r.text, 'html.parser')

In [25]:
tweet = soup.find('span', {'class':"css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"})

In [26]:
text = soup.find(class_='tweet-text').get_text()

In [27]:
tweet = text.replace("\n"," ")

In [28]:
tweet

'InSight sol 514 (2020-05-07) low -92.3ºC (-134.1ºF) high -2.8ºC (27.0ºF) winds from the SW at 5.2 m/s (11.6 mph) gusting to 16.8 m/s (37.5 mph) pressure at 6.90 hPapic.twitter.com/xIRvox3lPM'

In [29]:
driver.close()

# Mars Facts - Table scraping

In [30]:
url = "https://space-facts.com/mars/"

In [31]:
tables = pd.read_html(url)
mars_data = tables[0]
mars_data

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [32]:
mars_data.to_html("mars.html",index=False, header= False)

# Mars Hemispheres

In [33]:
hemisphere_image_urls = []

In [34]:
main_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/"

In [35]:
hemispheres = ["cerberus", "schiaparelli","syrtis_major","valles_marineris"]

In [36]:
for hemisphere in hemispheres:
    url = main_url + hemisphere + "_enhanced"
    response = requests.get(url)
    soup = bs(response.text, 'html.parser')
    links = []
    for a in soup.find_all('a',target="_blank",href=True):
        if a.text: 
            links.append(a['href'])
        img_url = links[-1]
    title = soup.find('h2', class_="title").text
    hemisphere_image_urls.append({"title" : title, "img_url" : img_url})

In [37]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif'}]